/*开始导航*/
	.nav-side{
		height: 44px;
		background: #f3f5f7;
	}
	.nav-login{
		color: #ea675a;
	}
	.nav-left li{
		height: 44px;
		line-height: 44px;
		margin-right: 5px;
	}
	.nav-right li{
		float: left;
	}
	.dropdown{
		position: relative;
	}
	.dropdown-toggle{
		display: block;
		height: 44px;
		line-height: 44px;
		padding: 0 5px;
	}
	.dropdown-layer{
		display: none;
		position: absolute;
		top: 44px;
		left: 0;
		background: #fff;
		border: 1px solid #f3f5f7;
		border-top: none;
	}
	.menu-item{
		padding: 0 5px;
		height: 30px;
		line-height: 30px;
		white-space: nowrap;
	}
	.menu-item:hover{
		background: #f3f5f7;
	}
	.dropdown:hover .dropdown-toggle}{
		border-left: 1px solid #f3f5f7;
		border-right: 1px solid #f3f5f7;
		background: #fff;
	}
	.dropdown:hover .dropdown-arrow{
		transform: rotate(180deg);
	}
	.dropdown:hover .dropdown-layer{
		display: block;
	}
/*结束导航*/

/*头部开始导航*/
	.header{
		height: 100px;
		background: yellow;
	}
/*头部结束导航*/

/*焦点开始导航*/
	.focus{
		height: 500px;
		background: purple;
	}
/*焦点结束导航*/

/*热销开始导航*/
	.todays{
		height: 100px;
		background: blue;
	}
/*热销结束导航*/

/*楼层开始导航*/
	.floor{
		height: 200px;
		background: pink;
	}
/*楼层结束导航*/


