* {
  margin: 0;
  padding: 0;
}
.box {
  width: 3rem;
  height: 3rem;
  background-color: #ff0000;
  float: right;
}
ul li {
  line-height: 40px;
  width: 100%;
}
ul li span {
  color: #0000ff;
}
ul li:hover {
  background-color: #ff0000;
}
.box1 {
  background-color: #ff0000;
  height: 200px;
  width: 100px;
}
