<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>我的博客</title>
	<link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/detail.css">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" id="kz-navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand link" href="#">我的个人博客</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="index.html">首页</span></a></li>
          <li class="active"><a href="list.html">HTML/CSS<span class="sr-only">(current)</a></li>
          <li><a href="list.html">博客目录</a></li>
          <li><a href="list.html">图片</a></li>
          <li><a href="list.html">关于我</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default custom-panel detail-panel">
            <div class="panel-heading">
              <h3 class="panel-title">深入了解 Bootstrap 底层结构的关键部分</h3>
              <p class="sub-title">
                <span class="text-muted">HTML/CSS</span>
                <span class="text-muted">2018-06-18</span>
                <span class="text-muted"><em>1461</em>人已阅读</span>
              </p>
            </div>
            <div class="panel-body">
              <p>
                生来如同璀璨的夏日之花
            不凋不败，妖治如火
            承受心跳的负荷和呼吸的累赘
            乐此不疲
            我听见音乐，来自月光和胴体
            辅极端的诱饵捕获飘渺的唯美
            一生充盈着激烈，又充盈着纯然
            总有回忆贯穿于世间
            我相信自己
            死时如同静美的秋日落叶
            不盛不乱，姿态如烟
            即便枯萎也保留丰肌清骨的傲然
            玄之又玄
            我听见爱情，我相信爱情
            爱情是一潭挣扎的蓝藻
            如同一阵凄微的风
            穿过我失血的静脉
            驻守岁月的信念
            我相信一切能够听见
            甚至预见离散，遇见另一个自己
            而有些瞬间无法把握
            任凭东走西顾，逝去的必然不返
            请看我头置簪花，
            一路走来一路盛开
            频频遗漏一些，
            又深陷风霜雨雪的感动
            般若波罗蜜，一声一声
            生如夏花，死如秋叶
            还在乎拥有什么
              </p>
            </div>
          </div>                                        
        </div>
        <div class="col-md-4 hidden-xs hidden-sm">
          <div class="ad">
            <a href="#" class="thumbnail">
              <img src="../../public/img/rb1.jpg" alt="广告1">
            </a>
          </div>
          <div class="ad">
            <a href="#" class="thumbnail">
              <img src="../../public/img/rb3.jpg" alt="广告2">
            </a>
          </div>
          <div class="panel panel-default custom-panel">
            <div class="panel-heading">
              <h3 class="panel-title">博主介绍</h3>
            </div>
            <div class="panel-body">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object img-me img-circle" src="../../public/img/object.jpg" alt="博主帅照">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Sunshine</h4>
                  该博主气宇轩昂 高大魁梧 英姿飒爽 衣着得体 眉清目秀，无时不流露出高贵淡雅的气质，配合他颀长纤细的身材。
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default custom-panel hot-list">
            <div class="panel-heading">
              <h3 class="panel-title">点击排行</h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>                                                 
              </ul>     
            </div>
          </div>
          <div class="panel panel-default custom-panel">
            <div class="panel-heading">
              <h3 class="panel-title">关注我</h3>
            </div>
            <div class="panel-body">
              <img src="../../public/img/erweima.png" class="img-responsive" alt="">
            </div>
          </div>                                         
        </div>
      </div>
    </div>
  </div>
  <footer>
    网络文化经营许可证：<a href="#">浙网文[2016]0268-027号</a>.
  </footer>


<script src="lib/jquery/jquery-1.12.4.min.js"></script>	
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>

</html>